<!DOCTYPE html>
<html>
    <head>
        <title>Account Updated</title>
    </head>
    <body>
        <h1><%= transactionType %> Successful!</h1>
        <p>
            Account: <%= accountName %> <br></br>
            Balance: $<%= accountAmount %>
        </p>
        <a href='/'>Return to Home</a> 
    </body>
</html>