<!DOCTYPE html>
<html>
    <head>
        <title>Deposit</title>
    </head>
    <body>
        <h1>Deposit!</h1>
        
        <h3>
            <label for='account'>Choose an account:</label>
        </h3>
        
        <form action='/deposit' method='post'>
            <select id='account' name='account'>
                <% accounts.forEach(function(acc){ %>
                    <option> <%= acc.account %> </option>
                <% }); %>
            </select>
            <h3>
                <label for='amount'>Enter an amount:</label>
            </h3>
            <input type='number' id='amount' name='amount' placeholder='ex. 1.00' step='0.01' min='0.01' required/>
            <br></br>
            <input type='submit' value='Deposit'/>
        </form>
        <a href='/'>Return to Home</a>
    </body>
</html>