<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <h1>Welcome <%= firstName %> <%= lastName %>!</h1>
        <a href=''>Deposit</a><br></br>
        <a href=''>Withdraw</a><br></br>
        <a href=''>Transfer</a><br></br>
        <a href=''>View Accounts</a><br></br>
        <a href=''>Create Account</a><br></br>
        <br></br>
        <a href=''>Logout</a>
    </body>
</html>