<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <h1>Welcome <%= firstName %> <%= lastName %>!</h1>
        <%= errorMessage %><br></br>
        <a href='/toDeposit'>Deposit</a><br></br>
        <a href='/toWithdraw'>Withdraw</a><br></br>
        <a href='/toTransfer'>Transfer</a><br></br>
        <a href=''>View Accounts</a><br></br>
        <a href=''>Create Account</a><br></br>
        <br></br>
        <a href=''>Logout</a>
    </body>
</html>