<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h1>Login!</h1>
        
        <!-- <form> -->
        <input type='text' name='username' placeholder='Enter Username' required />
        <br></br>
        <input type='password' name='password' placeholder='Enter Password' required />
        <br></br>
        <input type='submit' value='Login' />
        <!-- </form> -->
    </body>
</html>