<!DOCTYPE html>
<html>
    <head>
        <title>404: Page Not Found</title>
    </head>
    <body>
        <h1>Oops! That page does not exist!</h1>
        <br></br>
        <a href='/'>Return to Login</a>
    </body>
</html>